/* Promociones */
.promociones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: #000000 solid;
    height: 100%;
}

.promociones form button{
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #A80F0F;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

@media(max-width:320px){
    .promociones h3{
        font-size: 20px;
        text-align:center;
    }
    .promociones{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: #000000 solid;
        height: 100%;
        align-items: center;
    }

    .promociones form input{
        font-size: 10px;
    }
    
    .promociones form button{
        height: 40%;
        background-color: #A80F0F;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        
    }

}
.carousel{
    height: 450px;
    margin: 20px;
    border-radius: 5px;
}

.carousel div img{
    object-fit: cover;
    height: 320px;
    margin: 20px; 
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 40px;
    height: 40px;
    background-color: #A80F0F;

}

/*Final de promociones*/